# Advanced Pandas Lab

Let's return to the unemployment rate data in the Atlas of Rural and Small Town America.  Previously, we simply looked at the entirety of the unemployment data for the entire country.  Sometimes, it is adequate to look at then broad properties of a dataset, but often we want to dig deeper to understand what's going on at a finer level.  With this data, it is much more informative to look at the unemployment rates on a state level, both how states compare to each other and how counties vary within a given state.

As we did before, ``import`` pandas, load the Excel spreadsheet, and pull the ``Jobs`` sheet.

In [1]:
import pandas as pd

df = pd.read_excel('../data/RuralAtlasData18.xlsx', sheet_name='Jobs')

Let's use the ``.head()`` function to familiarize with the DataFrame again and make sure it was read correctly.

In [2]:
df.head()

,FIPS,State,County,UnempRate2017,UnempRate2016,UnempRate2015,UnempRate2014,UnempRate2010,UnempRate2007,PctEmpChange1017,...,NumUnemployed2013,NumEmployed2013,NumCivLaborforce2013,NumUnemployed2007,NumEmployed2007,NumUnemployed2012,NumEmployed2012,UnempRate2012,NumCivLaborForce2012,NumUnemployed2014
0,0,US,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1000,AL,Alabama,4.4,5.9,6.1,6.8,10.5,4.0,5.525260,...,156957.0,2017043.0,2174000.0,86485.0,2089127.0,173047.0,2003290.0,8.0,2176337.0,146531.0
2,1001,AL,Autauga,3.9,5.1,5.2,5.8,8.9,3.3,6.303615,...,1605.0,24205.0,25810.0,806.0,23577.0,1779.0,23961.0,6.9,25740.0,1495.0
3,1003,AL,Baldwin,4.0,5.4,5.5,6.1,10.0,3.1,17.032748,...,5654.0,79626.0,85280.0,2560.0,80099.0,6349.0,78065.0,7.5,84414.0,5300.0
4,1005,AL,Barbour,5.9,8.4,8.9,10.5,12.3,6.3,-13.494810,...,931.0,8168.0,9099.0,650.0,9684.0,1079.0,8283.0,11.5,9362.0,932.0

As we previously found, we need to set the index to the county FIPS and filter out the US, DC, and Puerto Rico.  Let's do that now.

In [3]:
df = df.set_index('FIPS')

df = df[(df['State'] != 'US') & (df['State'] != 'PR') & (df['State'] != 'DC')]

In the other lab we pulled out the ``UnempRate2017`` column and filtered ``Null`` values from the series.  Here, let's leave the column in the DataFrame, but filter out the rows that ``Null`` values in that column.  We used ``.isna()`` to identify ``Nulls`` before.  Here, try to use ``.notnull()`` to get truth values that depend on if a value in the row is not a ``Null``.  Not only does it practice a different way to accomplish the task, actually makes the filtering a bit easier.

In [4]:
df = df[df['UnempRate2017'].notnull()]

To check that this was done properly, you can count the ``Null`` and non-``Null`` values in the column with ``.isna().sum()`` and ``.notnull().sum()``.

In [5]:
df['UnempRate2017'].notnull().sum()

3190

We now have cleaned data, so we can start to perform our calculations.  Start by grouping by state.

In [6]:
state_groups = df.groupby('State')

Check that the data is grouped as you expect by printing the groups.  You can do this by calling ``.groups`` which will print the index values in the groups.  Hint: the first two digits are the state code so they should all be the same.  If you really want to be sure you can look the codes up and check a few to confirm it is correct.

(To make the notebook less cluttered, feel free to only print a selection of the groups using slicing on the groups, or comment out the code line when you have completed your inspection of the groups)

In [7]:
state_groups.groups

{'AK': Int64Index([2000, 2013, 2016, 2020, 2050, 2060, 2068, 2070, 2090, 2100, 2105,
             2110, 2122, 2130, 2150, 2158, 2164, 2170, 2180, 2185, 2188, 2195,
             2198, 2220, 2230, 2240, 2261, 2275, 2282, 2290],
            dtype='int64', name='FIPS'),
 'AL': Int64Index([1000, 1001, 1003, 1005, 1007, 1009, 1011, 1013, 1015, 1017, 1019,
             1021, 1023, 1025, 1027, 1029, 1031, 1033, 1035, 1037, 1039, 1041,
             1043, 1045, 1047, 1049, 1051, 1053, 1055, 1057, 1059, 1061, 1063,
             1065, 1067, 1069, 1071, 1073, 1075, 1077, 1079, 1081, 1083, 1085,
             1087, 1089, 1091, 1093, 1095, 1097, 1099, 1101, 1103, 1105, 1107,
             1109, 1111, 1113, 1115, 1117, 1119, 1121, 1123, 1125, 1127, 1129,
             1131, 1133],
            dtype='int64', name='FIPS'),
 'AR': Int64Index([5000, 5001, 5003, 5005, 5007, 5009, 5011, 5013, 5015, 5017, 5019,
             5021, 5023, 5025, 5027, 5029, 5031, 5033, 5035, 5037, 5039, 5041,
             5043, 5045, 5047, 5049, 5051, 5053, 5055, 5057, 5059, 5061, 5063,
             5065, 5067, 5069, 5071, 5073, 5075, 5077, 5079, 5081, 5083, 5085,
             5087, 5089, 5091, 5093, 5095, 5097, 5099, 5101, 5103, 5105, 5107,
             5109, 5111, 5113, 5115, 5117, 5119, 5121, 5123, 5125, 5127, 5129,
             5131, 5133, 5135, 5137, 5139, 5141, 5143, 5145, 5147, 5149],
            dtype='int64', name='FIPS'),
 'AZ': Int64Index([4000, 4001, 4003, 4005, 4007, 4009, 4011, 4012, 4013, 4015, 4017,
             4019, 4021, 4023, 4025, 4027],
            dtype='int64', name='FIPS'),
 'CA': Int64Index([6000, 6001, 6003, 6005, 6007, 6009, 6011, 6013, 6015, 6017, 6019,
             6021, 6023, 6025, 6027, 6029, 6031, 6033, 6035, 6037, 6039, 6041,
             6043, 6045, 6047, 6049, 6051, 6053, 6055, 6057, 6059, 6061, 6063,
             6065, 6067, 6069, 6071, 6073, 6075, 6077, 6079, 6081, 6083, 6085,
             6087, 6089, 6091, 6093, 6095, 6097, 6099, 6101, 6103, 6105, 6107,
             6109, 6111, 6113, 6115],
            dtype='int64', name='FIPS'),
 'CO': Int64Index([8000, 8001, 8003, 8005, 8007, 8009, 8011, 8013, 8014, 8015, 8017,
             8019, 8021, 8023, 8025, 8027, 8029, 8031, 8033, 8035, 8037, 8039,
             8041, 8043, 8045, 8047, 8049, 8051, 8053, 8055, 8057, 8059, 8061,
             8063, 8065, 8067, 8069, 8071, 8073, 8075, 8077, 8079, 8081, 8083,
             8085, 8087, 8089, 8091, 8093, 8095, 8097, 8099, 8101, 8103, 8105,
             8107, 8109, 8111, 8113, 8115, 8117, 8119, 8121, 8123, 8125],
            dtype='int64', name='FIPS'),
 'CT': Int64Index([9000, 9001, 9003, 9005, 9007, 9009, 9011, 9013, 9015], dtype='int64', name='FIPS'),
 'DE': Int64Index([10000, 10001, 10003, 10005], dtype='int64', name='FIPS'),
 'FL': Int64Index([12000, 12001, 12003, 12005, 12007, 12009, 12011, 12013, 12015,
             12017, 12019, 12021, 12023, 12027, 12029, 12031, 12033, 12035,
             12037, 12039, 12041, 12043, 12045, 12047, 12049, 12051, 12053,
             12055, 12057, 12059, 12061, 12063, 12065, 12067, 12069, 12071,
             12073, 12075, 12077, 12079, 12081, 12083, 12085, 12086, 12087,
             12089, 12091, 12093, 12095, 12097, 12099, 12101, 12103, 12105,
             12107, 12109, 12111, 12113, 12115, 12117, 12119, 12121, 12123,
             12125, 12127, 12129, 12131, 12133],
            dtype='int64', name='FIPS'),
 'GA': Int64Index([13000, 13001, 13003, 13005, 13007, 13009, 13011, 13013, 13015,
             13017,
             ...
             13303, 13305, 13307, 13309, 13311, 13313, 13315, 13317, 13319,
             13321],
            dtype='int64', name='FIPS', length=160),
 'HI': Int64Index([15000, 15001, 15003, 15007, 15009], dtype='int64', name='FIPS'),
 'IA': Int64Index([19000, 19001, 19003, 19005, 19007, 19009, 19011, 19013, 19015,
             19017, 19019, 19021, 19023, 19025, 19027, 19029, 19031, 19033,
             19035, 19037, 19039, 19041, 19043, 19045, 19047, 19049, 19051,
             19053, 19055, 19057, 19059, 19061, 19063, 19065, 19067, 19069,
             19071, 19073, 19075, 19077, 19079, 19081, 19083, 19085, 19087,
             19089, 19091, 19093, 19095, 19097, 19099, 19101, 19103, 19105,
             19107, 19109, 19111, 19113, 19115, 19117, 19119, 19121, 19123,
             19125, 19127, 19129, 19131, 19133, 19135, 19137, 19139, 19141,
             19143, 19145, 19147, 19149, 19151, 19153, 19155, 19157, 19159,
             19161, 19163, 19165, 19167, 19169, 19171, 19173, 19175, 19177,
             19179, 19181, 19183, 19185, 19187, 19189, 19191, 19193, 19195,
             19197],
            dtype='int64', name='FIPS'),
 'ID': Int64Index([16000, 16001, 16003, 16005, 16007, 16009, 16011, 16013, 16015,
             16017, 16019, 16021, 16023, 16025, 16027, 16029, 16031, 16033,
             16035, 16037, 16039, 16041, 16043, 16045, 16047, 16049, 16051,
             16053, 16055, 16057, 16059, 16061, 16063, 16065, 16067, 16069,
             16071, 16073, 16075, 16077, 16079, 16081, 16083, 16085, 16087],
            dtype='int64', name='FIPS'),
 'IL': Int64Index([17000, 17001, 17003, 17005, 17007, 17009, 17011, 17013, 17015,
             17017,
             ...
             17185, 17187, 17189, 17191, 17193, 17195, 17197, 17199, 17201,
             17203],
            dtype='int64', name='FIPS', length=103),
 'IN': Int64Index([18000, 18001, 18003, 18005, 18007, 18009, 18011, 18013, 18015,
             18017, 18019, 18021, 18023, 18025, 18027, 18029, 18031, 18033,
             18035, 18037, 18039, 18041, 18043, 18045, 18047, 18049, 18051,
             18053, 18055, 18057, 18059, 18061, 18063, 18065, 18067, 18069,
             18071, 18073, 18075, 18077, 18079, 18081, 18083, 18085, 18087,
             18089, 18091, 18093, 18095, 18097, 18099, 18101, 18103, 18105,
             18107, 18109, 18111, 18113, 18115, 18117, 18119, 18121, 18123,
             18125, 18127, 18129, 18131, 18133, 18135, 18137, 18139, 18141,
             18143, 18145, 18147, 18149, 18151, 18153, 18155, 18157, 18159,
             18161, 18163, 18165, 18167, 18169, 18171, 18173, 18175, 18177,
             18179, 18181, 18183],
            dtype='int64', name='FIPS'),
 'KS': Int64Index([20000, 20001, 20003, 20005, 20007, 20009, 20011, 20013, 20015,
             20017,
             ...
             20191, 20193, 20195, 20197, 20199, 20201, 20203, 20205, 20207,
             20209],
            dtype='int64', name='FIPS', length=106),
 'KY': Int64Index([21000, 21001, 21003, 21005, 21007, 21009, 21011, 21013, 21015,
             21017,
             ...
             21221, 21223, 21225, 21227, 21229, 21231, 21233, 21235, 21237,
             21239],
            dtype='int64', name='FIPS', length=121),
 'LA': Int64Index([22000, 22001, 22003, 22005, 22007, 22009, 22011, 22013, 22015,
             22017, 22019, 22021, 22023, 22025, 22027, 22029, 22031, 22033,
             22035, 22037, 22039, 22041, 22043, 22045, 22047, 22049, 22051,
             22053, 22055, 22057, 22059, 22061, 22063, 22065, 22067, 22069,
             22071, 22073, 22075, 22077, 22079, 22081, 22083, 22085, 22087,
             22089, 22091, 22093, 22095, 22097, 22099, 22101, 22103, 22105,
             22107, 22109, 22111, 22113, 22115, 22117, 22119, 22121, 22123,
             22125, 22127],
            dtype='int64', name='FIPS'),
 'MA': Int64Index([25000, 25001, 25003, 25005, 25007, 25009, 25011, 25013, 25015,
             25017, 25019, 25021, 25023, 25025, 25027],
            dtype='int64', name='FIPS'),
 'MD': Int64Index([24000, 24001, 24003, 24005, 24009, 24011, 24013, 24015, 24017,
             24019, 24021, 24023, 24025, 24027, 24029, 24031, 24033, 24035,
             24037, 24039, 24041, 24043, 24045, 24047, 24510],
            dtype='int64', name='FIPS'),
 'ME': Int64Index([23000, 23001, 23003, 23005, 23007, 23009, 23011, 23013, 23015,
             23017, 23019, 23021, 23023, 23025, 23027, 23029, 23031],
            dtype='int64', name='FIPS'),
 'MI': Int64Index([26000, 26001, 26003, 26005, 26007, 26009, 26011, 26013, 26015,
             26017, 26019, 26021, 26023, 26025, 26027, 26029, 26031, 26033,
             26035, 26037, 26039, 26041, 26043, 26045, 26047, 26049, 26051,
             26053, 26055, 26057, 26059, 26061, 26063, 26065, 26067, 26069,
             26071, 26073, 26075, 26077, 26079, 26081, 26083, 26085, 26087,
             26089, 26091, 26093, 26095, 26097, 26099, 26101, 26103, 26105,
             26107, 26109, 26111, 26113, 26115, 26117, 26119, 26121, 26123,
             26125, 26127, 26129, 26131, 26133, 26135, 26137, 26139, 26141,
             26143, 26145, 26147, 26149, 26151, 26153, 26155, 26157, 26159,
             26161, 26163, 26165],
            dtype='int64', name='FIPS'),
 'MN': Int64Index([27000, 27001, 27003, 27005, 27007, 27009, 27011, 27013, 27015,
             27017, 27019, 27021, 27023, 27025, 27027, 27029, 27031, 27033,
             27035, 27037, 27039, 27041, 27043, 27045, 27047, 27049, 27051,
             27053, 27055, 27057, 27059, 27061, 27063, 27065, 27067, 27069,
             27071, 27073, 27075, 27077, 27079, 27081, 27083, 27085, 27087,
             27089, 27091, 27093, 27095, 27097, 27099, 27101, 27103, 27105,
             27107, 27109, 27111, 27113, 27115, 27117, 27119, 27121, 27123,
             27125, 27127, 27129, 27131, 27133, 27135, 27137, 27139, 27141,
             27143, 27145, 27147, 27149, 27151, 27153, 27155, 27157, 27159,
             27161, 27163, 27165, 27167, 27169, 27171, 27173],
            dtype='int64', name='FIPS'),
 'MO': Int64Index([29000, 29001, 29003, 29005, 29007, 29009, 29011, 29013, 29015,
             29017,
             ...
             29213, 29215, 29217, 29219, 29221, 29223, 29225, 29227, 29229,
             29510],
            dtype='int64', name='FIPS', length=116),
 'MS': Int64Index([28000, 28001, 28003, 28005, 28007, 28009, 28011, 28013, 28015,
             28017, 28019, 28021, 28023, 28025, 28027, 28029, 28031, 28033,
             28035, 28037, 28039, 28041, 28043, 28045, 28047, 28049, 28051,
             28053, 28055, 28057, 28059, 28061, 28063, 28065, 28067, 28069,
             28071, 28073, 28075, 28077, 28079, 28081, 28083, 28085, 28087,
             28089, 28091, 28093, 28095, 28097, 28099, 28101, 28103, 28105,
             28107, 28109, 28111, 28113, 28115, 28117, 28119, 28121, 28123,
             28125, 28127, 28129, 28131, 28133, 28135, 28137, 28139, 28141,
             28143, 28145, 28147, 28149, 28151, 28153, 28155, 28157, 28159,
             28161, 28163],
            dtype='int64', name='FIPS'),
 'MT': Int64Index([30000, 30001, 30003, 30005, 30007, 30009, 30011, 30013, 30015,
             30017, 30019, 30021, 30023, 30025, 30027, 30029, 30031, 30033,
             30035, 30037, 30039, 30041, 30043, 30045, 30047, 30049, 30051,
             30053, 30055, 30057, 30059, 30061, 30063, 30065, 30067, 30069,
             30071, 30073, 30075, 30077, 30079, 30081, 30083, 30085, 30087,
             30089, 30091, 30093, 30095, 30097, 30099, 30101, 30103, 30105,
             30107, 30109, 30111],
            dtype='int64', name='FIPS'),
 'NC': Int64Index([37000, 37001, 37003, 37005, 37007, 37009, 37011, 37013, 37015,
             37017,
             ...
             37181, 37183, 37185, 37187, 37189, 37191, 37193, 37195, 37197,
             37199],
            dtype='int64', name='FIPS', length=101),
 'ND': Int64Index([38000, 38001, 38003, 38005, 38007, 38009, 38011, 38013, 38015,
             38017, 38019, 38021, 38023, 38025, 38027, 38029, 38031, 38033,
             38035, 38037, 38039, 38041, 38043, 38045, 38047, 38049, 38051,
             38053, 38055, 38057, 38059, 38061, 38063, 38065, 38067, 38069,
             38071, 38073, 38075, 38077, 38079, 38081, 38083, 38085, 38087,
             38089, 38091, 38093, 38095, 38097, 38099, 38101, 38103, 38105],
            dtype='int64', name='FIPS'),
 'NE': Int64Index([31000, 31001, 31003, 31005, 31007, 31009, 31011, 31013, 31015,
             31017, 31019, 31021, 31023, 31025, 31027, 31029, 31031, 31033,
             31035, 31037, 31039, 31041, 31043, 31045, 31047, 31049, 31051,
             31053, 31055, 31057, 31059, 31061, 31063, 31065, 31067, 31069,
             31071, 31073, 31075, 31077, 31079, 31081, 31083, 31085, 31087,
             31089, 31091, 31093, 31095, 31097, 31099, 31101, 31103, 31105,
             31107, 31109, 31111, 31113, 31115, 31117, 31119, 31121, 31123,
             31125, 31127, 31129, 31131, 31133, 31135, 31137, 31139, 31141,
             31143, 31145, 31147, 31149, 31151, 31153, 31155, 31157, 31159,
             31161, 31163, 31165, 31167, 31169, 31171, 31173, 31175, 31177,
             31179, 31181, 31183, 31185],
            dtype='int64', name='FIPS'),
 'NH': Int64Index([33000, 33001, 33003, 33005, 33007, 33009, 33011, 33013, 33015,
             33017, 33019],
            dtype='int64', name='FIPS'),
 'NJ': Int64Index([34000, 34001, 34003, 34005, 34007, 34009, 34011, 34013, 34015,
             34017, 34019, 34021, 34023, 34025, 34027, 34029, 34031, 34033,
             34035, 34037, 34039, 34041],
            dtype='int64', name='FIPS'),
 'NM': Int64Index([35000, 35001, 35003, 35005, 35006, 35007, 35009, 35011, 35013,
             35015, 35017, 35019, 35021, 35023, 35025, 35027, 35028, 35029,
             35031, 35033, 35035, 35037, 35039, 35041, 35043, 35045, 35047,
             35049, 35051, 35053, 35055, 35057, 35059, 35061],
            dtype='int64', name='FIPS'),
 'NV': Int64Index([32000, 32001, 32003, 32005, 32007, 32009, 32011, 32013, 32015,
             32017, 32019, 32021, 32023, 32027, 32029, 32031, 32033, 32510],
            dtype='int64', name='FIPS'),
 'NY': Int64Index([36000, 36001, 36003, 36005, 36007, 36009, 36011, 36013, 36015,
             36017, 36019, 36021, 36023, 36025, 36027, 36029, 36031, 36033,
             36035, 36037, 36039, 36041, 36043, 36045, 36047, 36049, 36051,
             36053, 36055, 36057, 36059, 36061, 36063, 36065, 36067, 36069,
             36071, 36073, 36075, 36077, 36079, 36081, 36083, 36085, 36087,
             36089, 36091, 36093, 36095, 36097, 36099, 36101, 36103, 36105,
             36107, 36109, 36111, 36113, 36115, 36117, 36119, 36121, 36123],
            dtype='int64', name='FIPS'),
 'OH': Int64Index([39000, 39001, 39003, 39005, 39007, 39009, 39011, 39013, 39015,
             39017, 39019, 39021, 39023, 39025, 39027, 39029, 39031, 39033,
             39035, 39037, 39039, 39041, 39043, 39045, 39047, 39049, 39051,
             39053, 39055, 39057, 39059, 39061, 39063, 39065, 39067, 39069,
             39071, 39073, 39075, 39077, 39079, 39081, 39083, 39085, 39087,
             39089, 39091, 39093, 39095, 39097, 39099, 39101, 39103, 39105,
             39107, 39109, 39111, 39113, 39115, 39117, 39119, 39121, 39123,
             39125, 39127, 39129, 39131, 39133, 39135, 39137, 39139, 39141,
             39143, 39145, 39147, 39149, 39151, 39153, 39155, 39157, 39159,
             39161, 39163, 39165, 39167, 39169, 39171, 39173, 39175],
            dtype='int64', name='FIPS'),
 'OK': Int64Index([40000, 40001, 40003, 40005, 40007, 40009, 40011, 40013, 40015,
             40017, 40019, 40021, 40023, 40025, 40027, 40029, 40031, 40033,
             40035, 40037, 40039, 40041, 40043, 40045, 40047, 40049, 40051,
             40053, 40055, 40057, 40059, 40061, 40063, 40065, 40067, 40069,
             40071, 40073, 40075, 40077, 40079, 40081, 40083, 40085, 40087,
             40089, 40091, 40093, 40095, 40097, 40099, 40101, 40103, 40105,
             40107, 40109, 40111, 40113, 40115, 40117, 40119, 40121, 40123,
             40125, 40127, 40129, 40131, 40133, 40135, 40137, 40139, 40141,
             40143, 40145, 40147, 40149, 40151, 40153],
            dtype='int64', name='FIPS'),
 'OR': Int64Index([41000, 41001, 41003, 41005, 41007, 41009, 41011, 41013, 41015,
             41017, 41019, 41021, 41023, 41025, 41027, 41029, 41031, 41033,
             41035, 41037, 41039, 41041, 41043, 41045, 41047, 41049, 41051,
             41053, 41055, 41057, 41059, 41061, 41063, 41065, 41067, 41069,
             41071],
            dtype='int64', name='FIPS'),
 'PA': Int64Index([42000, 42001, 42003, 42005, 42007, 42009, 42011, 42013, 42015,
             42017, 42019, 42021, 42023, 42025, 42027, 42029, 42031, 42033,
             42035, 42037, 42039, 42041, 42043, 42045, 42047, 42049, 42051,
             42053, 42055, 42057, 42059, 42061, 42063, 42065, 42067, 42069,
             42071, 42073, 42075, 42077, 42079, 42081, 42083, 42085, 42087,
             42089, 42091, 42093, 42095, 42097, 42099, 42101, 42103, 42105,
             42107, 42109, 42111, 42113, 42115, 42117, 42119, 42121, 42123,
             42125, 42127, 42129, 42131, 42133],
            dtype='int64', name='FIPS'),
 'RI': Int64Index([44000, 44001, 44003, 44005, 44007, 44009], dtype='int64', name='FIPS'),
 'SC': Int64Index([45000, 45001, 45003, 45005, 45007, 45009, 45011, 45013, 45015,
             45017, 45019, 45021, 45023, 45025, 45027, 45029, 45031, 45033,
             45035, 45037, 45039, 45041, 45043, 45045, 45047, 45049, 45051,
             45053, 45055, 45057, 45059, 45061, 45063, 45065, 45067, 45069,
             45071, 45073, 45075, 45077, 45079, 45081, 45083, 45085, 45087,
             45089, 45091],
            dtype='int64', name='FIPS'),
 'SD': Int64Index([46000, 46003, 46005, 46007, 46009, 46011, 46013, 46015, 46017,
             46019, 46021, 46023, 46025, 46027, 46029, 46031, 46033, 46035,
             46037, 46039, 46041, 46043, 46045, 46047, 46049, 46051, 46053,
             46055, 46057, 46059, 46061, 46063, 46065, 46067, 46069, 46071,
             46073, 46075, 46077, 46079, 46081, 46083, 46085, 46087, 46089,
             46091, 46093, 46095, 46097, 46099, 46101, 46102, 46103, 46105,
             46107, 46109, 46111, 46115, 46117, 46119, 46121, 46123, 46125,
             46127, 46129, 46135, 46137],
            dtype='int64', name='FIPS'),
 'TN': Int64Index([47000, 47001, 47003, 47005, 47007, 47009, 47011, 47013, 47015,
             47017, 47019, 47021, 47023, 47025, 47027, 47029, 47031, 47033,
             47035, 47037, 47039, 47041, 47043, 47045, 47047, 47049, 47051,
             47053, 47055, 47057, 47059, 47061, 47063, 47065, 47067, 47069,
             47071, 47073, 47075, 47077, 47079, 47081, 47083, 47085, 47087,
             47089, 47091, 47093, 47095, 47097, 47099, 47101, 47103, 47105,
             47107, 47109, 47111, 47113, 47115, 47117, 47119, 47121, 47123,
             47125, 47127, 47129, 47131, 47133, 47135, 47137, 47139, 47141,
             47143, 47145, 47147, 47149, 47151, 47153, 47155, 47157, 47159,
             47161, 47163, 47165, 47167, 47169, 47171, 47173, 47175, 47177,
             47179, 47181, 47183, 47185, 47187, 47189],
            dtype='int64', name='FIPS'),
 'TX': Int64Index([48000, 48001, 48003, 48005, 48007, 48009, 48011, 48013, 48015,
             48017,
             ...
             48489, 48491, 48493, 48495, 48497, 48499, 48501, 48503, 48505,
             48507],
            dtype='int64', name='FIPS', length=255),
 'UT': Int64Index([49000, 49001, 49003, 49005, 49007, 49009, 49011, 49013, 49015,
             49017, 49019, 49021, 49023, 49025, 49027, 49029, 49031, 49033,
             49035, 49037, 49039, 49041, 49043, 49045, 49047, 49049, 49051,
             49053, 49055, 49057],
            dtype='int64', name='FIPS'),
 'VA': Int64Index([51000, 51001, 51003, 51005, 51007, 51009, 51011, 51013, 51015,
             51017,
             ...
             51750, 51760, 51770, 51775, 51790, 51800, 51810, 51820, 51830,
             51840],
            dtype='int64', name='FIPS', length=134),
 'VT': Int64Index([50000, 50001, 50003, 50005, 50007, 50009, 50011, 50013, 50015,
             50017, 50019, 50021, 50023, 50025, 50027],
            dtype='int64', name='FIPS'),
 'WA': Int64Index([53000, 53001, 53003, 53005, 53007, 53009, 53011, 53013, 53015,
             53017, 53019, 53021, 53023, 53025, 53027, 53029, 53031, 53033,

Now that we have these groups, let's grab the ``UnempRate2017`` column and get the minimum, maximum, and average (mean) for each state.  Save them to the variables below.

In [8]:
state_unemp_mins = state_groups['UnempRate2017'].min()
state_unemp_maxs = state_groups['UnempRate2017'].max()
state_unemp_mean = state_groups['UnempRate2017'].mean()

Print the average unemployment rate, ranked by highest unemployment.

In [9]:
state_unemp_mean.sort_values(ascending=False)

State
AK    9.266667
AZ    6.668750
NM    6.547059
CA    5.996610
MS    5.975904
MI    5.969048
KY    5.947107
WV    5.898214
LA    5.875385
WA    5.805000
GA    5.322500
OH    5.258427
PA    5.241176
NY    5.231746
AL    5.029412
NC    5.013861
IL    4.986408
NJ    4.954545
SC    4.951064
OR    4.786486
DE    4.675000
NV    4.672222
MD    4.592000
CT    4.544444
OK    4.475641
TX    4.472941
FL    4.336765
VA    4.323134
TN    4.314583
UT    4.246667
MT    4.236842
AR    4.235526
RI    4.183333
MO    4.162931
MN    4.105682
WY    4.008333
MA    3.980000
SD    3.874627
ID    3.617778
ME    3.611765
WI    3.595890
IN    3.547312
VT    3.406667
KS    3.371698
IA    3.113000
ND    2.912963
NE    2.892553
CO    2.821538
NH    2.618182
HI    2.460000
Name: UnempRate2017, dtype: float64

Now let's find the ten states with the largest disparity between the counties with the highest unemployment and lowest.  There are a few steps here.  What is the calculation we are doing and what sort of data manipulations are we doing?

In [10]:
max_min_diff = state_unemp_maxs - state_unemp_mins
max_min_diff.sort_values(ascending=False).head(10)

State
AK    17.6
CA    16.4
AZ    12.8
KY    12.4
MT    11.2
MS    11.1
NM    10.3
TX     9.8
SD     9.4
ND     8.5
Name: UnempRate2017, dtype: float64

Let's conclude with a challenge by actually look at how each county's unemployment rate varies within its state.  In particular, we want to produce a table with each county's name, the state name, the unemployment rate, and a measure of how many standard deviations away from the state mean they lie.  The lecture notes may be helpful.

In [1]:
county_unemp_stds = state_groups['UnempRate2017'] \
                        .transform(lambda x: (x-x.mean())/x.std()) \
                        .rename('StateDevs')

output_df = df.merge(county_unemp_stds.to_frame(), on='FIPS')

NameError: name 'state_groups' is not defined

In [12]:
output_df[['County', 'State', 'UnempRate2017', 'StateDevs']]

            County State  UnempRate2017  StateDevs
FIPS
1000       Alabama    AL            4.4  -0.456406
1001       Autauga    AL            3.9  -0.818972
1003       Baldwin    AL            4.0  -0.746459
1005       Barbour    AL            5.9   0.631291
1007          Bibb    AL            4.4  -0.456406
1009        Blount    AL            4.0  -0.746459
1011       Bullock    AL            4.9  -0.093841
1013        Butler    AL            5.5   0.341238
1015       Calhoun    AL            4.9  -0.093841
1017      Chambers    AL            4.1  -0.673945
1019      Cherokee    AL            4.1  -0.673945
1021       Chilton    AL            4.0  -0.746459
1023       Choctaw    AL            6.4   0.993856
1025        Clarke    AL            8.5   2.516632
1027          Clay    AL            4.4  -0.456406
1029      Cleburne    AL            4.5  -0.383893
1031        Coffee    AL            4.4  -0.456406
1033       Colbert    AL            5.2   0.123699
1035       Conecuh    AL            6.1   0.776317
1037         Coosa    AL            4.6  -0.311380
1039     Covington    AL            5.2   0.123699
1041      Crenshaw    AL            4.5  -0.383893
1043       Cullman    AL            3.7  -0.963998
1045          Dale    AL            4.4  -0.456406
1047        Dallas    AL            7.5   1.791501
1049        DeKalb    AL            4.5  -0.383893
1051        Elmore    AL            3.6  -1.036511
1053      Escambia    AL            5.0  -0.021327
1055        Etowah    AL            4.6  -0.311380
1057       Fayette    AL            4.7  -0.238867
...            ...   ...            ...        ...
55131   Washington    WI            2.8  -1.012726
55133     Waukesha    WI            2.9  -0.885482
55135      Waupaca    WI            3.2  -0.503748
55137     Waushara    WI            3.9   0.386962
55139    Winnebago    WI            3.0  -0.758237
55141         Wood    WI            3.8   0.259718
56000      Wyoming    WY            4.2   0.263184
56001       Albany    WY            2.8  -1.659206
56003     Big Horn    WY            4.1   0.125871
56005     Campbell    WY            4.9   1.224380
56007       Carbon    WY            4.0  -0.011443
56009     Converse    WY            4.4   0.537812
56011        Crook    WY            3.5  -0.698011
56013      Fremont    WY            5.6   2.185575
56015       Goshen    WY            2.8  -1.659206
56017  Hot Springs    WY            3.9  -0.148756
56019      Johnson    WY            4.1   0.125871
56021      Laramie    WY            3.7  -0.423384
56023      Lincoln    WY            3.7  -0.423384
56025      Natrona    WY            5.3   1.773634
56027     Niobrara    WY            2.7  -1.796520
56029         Park    WY            4.2   0.263184
56031       Platte    WY            3.7  -0.423384
56033     Sheridan    WY            4.0  -0.011443
56035     Sublette    WY            4.4   0.537812
56037   Sweetwater    WY            4.6   0.812439
56039        Teton    WY            3.0  -1.384579
56041        Uinta    WY            4.5   0.675125
56043     Washakie    WY            4.1   0.125871
56045       Weston    WY            4.0  -0.011443

[3190 rows x 4 columns]

This is a very rich dataset.  If you've finished early, look into how the unemployment has changed over time in these counties, and how it depends on things like incomes and county classifications from the other sheets.